name: Build and deploy QEMU AppImage

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker for building x86_64 artifact
        uses: docker/setup-buildx-action@v3

      - name: Build x86_64 artifact using Docker
        run: |
          docker build --no-cache --target artifact --output type=local,dest=. .
          tar -cf x86_64.tar artifact/

      - name: Upload artifact for x86_64 build
        uses: actions/upload-artifact@v5
        with:
          name: x86_64.tar
          path: x86_64.tar
          retention-days: 1

  buildarm:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker for building aarch64 artifact
        uses: docker/setup-buildx-action@v3

      - name: Build aarch64 artifact using Docker
        run: |
          docker build --no-cache --target artifact --output type=local,dest=. .
          tar -cf aarch64.tar artifact/

      - name: Upload artifact for aarch64 build
        uses: actions/upload-artifact@v5
        with:
          name: aarch64.tar
          path: aarch64.tar
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs:
      - build
      - buildarm

    steps:
      - name: Download artifact for x86_64 build
        uses: actions/download-artifact@v5
        with:
          name: x86_64.tar
          path: .

      - name: Download artifact for aarch64 build
        uses: actions/download-artifact@v5
        with:
          name: aarch64.tar
          path: .

      - name: Extract artifacts
        run: |
          tar -xf x86_64.tar
          tar -xf aarch64.tar

      - name: Create release and upload both artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: QEMU ${{ github.ref_name }} AppImage
          files: artifact/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean up artifact cache after release
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            x86_64.tar
            aarch64.tar
          failOnError: false
